# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [39]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [40]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Paso 3. Asígnalo a una variable llamada chipo.

In [41]:
chipo = pd.read_csv(url, sep = "\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [42]:
chipo["item_price_modified"] = chipo["item_price"].apply(lambda x: float(x[1:]))
chipo["item_price_modified"]
chipo["item_price_modified"].max()
chipo["item_price_individ"] = chipo["item_price_modified"] / chipo["quantity"]
chipo["item_price_individ"].max()
chipo["item_price_individ"]
chipo[chipo["item_price_individ"]==chipo["item_price_individ"].max()].drop_duplicates("item_name")

,order_id,quantity,item_name,choice_description,item_price,item_price_modified,item_price_individ
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [43]:
list(chipo[chipo['item_price_individ']>10].sort_values(by="item_price_individ", ascending=False).drop_duplicates("item_name")["item_name"])

['Steak Salad Bowl',
 'Barbacoa Salad Bowl',
 'Carnitas Salad Bowl',
 'Steak Burrito',
 'Steak Bowl',
 'Steak Crispy Tacos',
 'Steak Soft Tacos',
 'Barbacoa Soft Tacos',
 'Carnitas Bowl',
 'Barbacoa Burrito',
 'Barbacoa Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Soft Tacos',
 'Barbacoa Crispy Tacos',
 'Chicken Bowl',
 'Chicken Soft Tacos',
 'Veggie Burrito',
 'Chicken Salad Bowl',
 'Veggie Bowl',
 'Chicken Crispy Tacos',
 'Chicken Burrito',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos',
 'Chicken Salad']

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [52]:
chipo.drop_duplicates("item_name")[["item_name", "item_price_individ"]].sort_values(by="item_price_individ", ascending=False)

                                  item_name  item_price_individ
281                        Steak Salad Bowl               11.89
1229                    Barbacoa Salad Bowl               11.89
1132                    Carnitas Salad Bowl               11.89
7                             Steak Burrito               11.75
39                            Barbacoa Bowl               11.75
168                   Barbacoa Crispy Tacos               11.75
186                       Veggie Salad Bowl               11.25
738                       Veggie Soft Tacos               11.25
57                           Veggie Burrito               11.25
62                              Veggie Bowl               11.25
250                           Chicken Salad               10.98
56                      Barbacoa Soft Tacos                9.25
92                       Steak Crispy Tacos                9.25
237                     Carnitas Soft Tacos                9.25
554                   Carnitas Crispy Tacos                9.25
8                          Steak Soft Tacos                9.25
664                             Steak Salad                8.99
54                               Steak Bowl                8.99
3750                         Carnitas Salad                8.99
21                         Barbacoa Burrito                8.99
33                            Carnitas Bowl                8.99
27                         Carnitas Burrito                8.99
11                     Chicken Crispy Tacos                8.75
44                       Chicken Salad Bowl                8.75
12                       Chicken Soft Tacos                8.75
16                          Chicken Burrito                8.49
1653                    Veggie Crispy Tacos                8.49
4                              Chicken Bowl                8.49
1694                           Veggie Salad                8.49
1414                                  Salad                7.40
510                                 Burrito                7.40
520                            Crispy Tacos                7.40
445                                    Bowl                7.40
298                       6 Pack Soft Drink                6.49
10                      Chips and Guacamole                4.45
1                                      Izze                3.39
2                          Nantucket Nectar                3.39
674       Chips and Mild Fresh Tomato Salsa                3.00
111     Chips and Tomatillo Red Chili Salsa                2.95
38    Chips and Tomatillo Green Chili Salsa                2.95
233      Chips and Roasted Chili Corn Salsa                2.95
3     Chips and Tomatillo-Green Chili Salsa                2.39
0              Chips and Fresh Tomato Salsa                2.39
300     Chips and Tomatillo-Red Chili Salsa                2.39
191      Chips and Roasted Chili-Corn Salsa                2.39
40                                    Chips                2.15
6                             Side of Chips                1.69
263                       Canned Soft Drink                1.25
18                              Canned Soda                1.09
34                            Bottled Water                1.09

### Paso 6. Ordenar por el nombre del artículo

In [55]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price,item_price_modified,item_price_individ
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [ ]:
chipo[chipo["item_price_individ"]==chipo["item_price_individ"].max()][["item_name", "quantity"]]

In [74]:
sum(chipo[chipo["item_price_individ"]==chipo["item_price_individ"].max()]["quantity"])

30

In [80]:
chipo[chipo["item_price_individ"]==11.89]

,order_id,quantity,item_name,choice_description,item_price,item_price_modified,item_price_individ
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$23.78,23.78,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$11.89,11.89,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
1326,541,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.89,11.89,11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$11.89,11.89,11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",$11.89,11.89,11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.89,11.89,11.89
2610,1035,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.89,11.89,11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.89,11.89,11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.89,11.89,11.89
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$11.89,11.89,11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",$11.89,11.89,11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
3546,1426,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",$11.89,11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
4239,1692,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",$11.89,11.89,11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89

In [122]:
sttt =[9,4,2]
#print(sttt.__contains__("y"))
sttt[sttt.__contains__(0)]

9

In [106]:
steak = chipo[chipo["item_name"].apply(lambda x: "steak" not in x.lower())]
steak

,order_id,quantity,item_name,choice_description,item_price,item_price_modified,item_price_individ
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
...,...,...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,8.75,8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [82]:
chipo.item_name.value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [90]:
#len(chipo[chipo["item_name"]=="Veggie Salad"])
sum(chipo[chipo["item_name"]=="Veggie Salad"]["quantity"])

6

In [92]:
chipo[chipo["item_name"]=="Veggie Salad"]

,order_id,quantity,item_name,choice_description,item_price,item_price_modified,item_price_individ
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49,8.49,8.49
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
3471,1395,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49,8.49,8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [124]:
chipo.value_counts()
refresco = chipo[chipo["item_name"]=="Canned Soft Drink"]
len(refresco[refresco["quantity"]>1])

37